/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 2rem;
}

.ventanillas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
    gap: 1rem;
}

.ventanilla {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 415px;
    padding: 1rem;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.ventanilla:hover {
    transform: translateY(-15px);
}

.ventanilla h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #007BFF;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.results,
.summary,
.records {
    margin-top: 1rem;
}

.summary p,
.records h3 {
    margin: 0.5rem 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.5rem;
}

table,
th,
td {
    border: 1px solid #dddddd;
}

th,
td {
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

footer {
    text-align: center;
    margin: 2rem 0;
}

footer a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}